$main-bgc: #dc143c;
$main-bgc2: purple;
$flex-justify: space-between;
$font-size: .875rem;
$font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$main-display: flex;
$primary-color1: white;
$primary-color2: black;