@import 'variables';

.footer-container{
    width: 100vw;
    background-color: $background3;
    height: 75vh;
    
}
.footer-main{
    display: flex;
    flex-direction: column;
    width: 86%;
    margin-left: 6.5vw;
    padding-top: 30px;
    font-size: 0.9vw;
    color: $fontLink;
    

    div{
        width: auto;

        a{
            text-decoration: none;
            color: $fontLink;

            &:hover{
                text-decoration: underline;
            }
        }
    }

}

.f-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}