@import 'variables';

.footer-container{
    width: 100vw;
    background-color: $background3;
    height: 90vh;
    
}
.footer-main{
    display: flex;
    flex-direction: column;
    width: 86%;
    margin-left: 6.5vw;
    padding-top: 30px;
    font-size: 14px;
    color: $fontLink;
    

    div{
        width: auto;

        a{
            text-decoration: none;
            color: $fontLink;

            &:hover{
                text-decoration: underline;
            }
        }
    }

}

.f-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    line-height: 1.5;
}
.row{
    display: flex;
    flex-direction: row;
} 
.footer-div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 130px;
}
.footer-div-2{
    border-top: 1px solid gray;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;

    div{
        margin: 15px;
    }
}