main{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 0  11rem;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #555;
}

.content{
    display: grid;
    
}
.downloads{
    height: 13.0rem;;
    width: 74.3%;
    display: flex;
    flex-direction: column;
    background-color: rgba(178, 224, 197, 0.5);
    margin-left: 11rem;
}
.recommendations{
    width: 100%;
    height: 5.125rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(4, 110, 4);
}
.recommendations > div{
    width: 50%;
    text-align: center;
    color: antiquewhite;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5;
}
.installer{
    width: 100%;
    height: 9.375rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}
#windows{
    width: 22rem;
    height: 9.37rem;
}
#mac{
    width: 21.5rem;
}
#code{    
    width: 20rem;
    }