body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.navLinks{
  font-size:18px;
  font-weight: 500;
   display: inline-flex;
   cursor: pointer;
}
.navLinks-small{
  font-size:18px;
  font-weight: 500;
   display: flex;
   cursor: pointer;
   flex-direction: row;
}

.sideBarItems{
  margin: 15px;
  list-style: none;
  display: flex;
  align-content:flex-end;
}

@media screen and (max-width:640){
  body{
    margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  }
  
}
