$background: #fff;
$background2: #111;
$background3: #444;
$background4: rgb(214, 211, 211);
$myorange: #f38908;
$myorange_dark: #c57007;
$font1: #fff;
$font2: rgb(224, 68, 68);
$font3: #333;
$mypurple: rgb(148, 12, 148);
$fontLink: #f1e4e4
