@import 'variables';
body{
    box-sizing: border-box; 
    margin: 0;
}
.home_container{
    background-color:#43a047;
    width: 100vw;
    height: auto;
    margin: 0;
}
.Box{
    width: 88%;
    height: auto;
    margin: auto 0 6vw 7vw ;
    display: flex;
    flex-direction: column;
    
}
.sub_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgreen;
    width: 98%;
    height: 50px;
    align-items: center;
    align-content: center;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.sub_container2{
    display: flex;
    flex-direction: row;
    background-color: #5b874b;
    width: 98%;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.topad{
    width: 87%;
    margin-left: 7vw;

}
@media screen and (max-width:700px) {
    .Box{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
    }
    .sub_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: lightgreen;
        width: 98%;
        height: 50px;
        align-items: center;
        align-content: center;
        padding: 10px;
        font-weight: 600;
        text-transform: capitalize;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .sub_container2{
        display: flex;
        flex-direction: row;
        background-color: #5b874b;
        width: 98%;
        height: 50px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-weight: 600;
        margin-top: 10px;
        text-transform: capitalize;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .home_container{
        background-color: $background;
    }
    .half-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        margin-bottom: 1vw;
        border-radius: 5px;
        padding: 5px;
    
        div{
            width: 49%;
            margin: 5px;
        }
    }
}
@media screen and (max-width:950px) {
    .Box{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
    }
    .sub_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: lightgreen;
        width: 98%;
        height: 40px;
        align-items: center;
        align-content: center;
        padding: 10px;
        font-weight: 600;
        text-transform: uppercase;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .sub_container2{
        display: flex;
        flex-direction: row;
        background-color: #5b874b;
        width: 98%;
        height: 40px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-weight: 600;
        margin-top: 10px;
        text-transform: uppercase;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
}


.carouselContainer{
    width: inherit;
    height: inherit;
    margin: 10px;
    border-radius: 5px;

}
.carouselContent{
    width: inherit;
    height: inherit;

}
.note-container{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 98%;
    padding: 10px 20px 20px 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1vw;
    line-height: 1.5;
}
.half-container{
    width: 98%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 1vw;
    border-radius: 5px;

    div{
        width: 49%;
        margin: 5px;
    }
}
.card {
    transition: 0.3s;
    border: none;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  @media screen and (min-width:600px) {
    .contact{
        display: none;
    }
  }
  .contact{
    background-color: #43a047;
    height: 30px;
    width: 100vw;
    margin-top: .3125rem;
    padding: .3125rem;

    p{
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: small;
        font-weight: 600;

    }
  }