@import 'variables';

.help-container{
    background-color: #f3ecec;
    box-sizing: border-box;
    overflow: hidden;
}
.help-main-content{
    display: flex;
    flex-direction: row;
    width: 87%;
    margin-left: 7vw;
    height: auto;

}
.main-content-1{
    width: 24%;
    margin-right: 3%;
    border: 0.4px solid rgb(218, 213, 213) ;
    border-radius: 5px;
    background-color: $background;
    height: 550px;
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.165rem;
        height: 55px;
        padding: .4825rem;
        border-bottom: 1px solid rgb(218, 213, 213) ;
        font-weight: 500;
    }
    a{
        text-decoration: none;
        color: #000;
    }

}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .425rem;
}
.main-content-2{
    width: 73%;
    background-color: $background;
    padding: .625rem;
}
.search-bar{
    width: 28.5rem;
    height: 2.525rem;
    margin: 10px 0 15px 7vw;
    position: relative;

    input{
        height: inherit;
        width: inherit;
        border-radius: .3125rem;
        border: 0.5px solid #999;
        padding: 3px;

        &::placeholder{
            margin: 5px;
            padding-left: 30px;
        }
    }
    i{
        position: absolute;
        top: 12px;
        left: 5px;
    }

}
.nav-items{
    width: 87%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    justify-content: space-between;
    margin-left: 7vw;

    div{
        width: 16.5vw;
        height: inherit;
        background-color: $background;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        font-size: large;
        font-weight: 600;

        a{
            color: $background3;
            text-decoration: none;
        }

        img{
            width: 80px;
            height: 80px;
        }
    }

}
.header{
    background-color: #ffca9ffb;
    height: 200px;
    width: 100vw;
    padding-top: 10px;

    div{
        font-size: 20px;
        margin-left: 7vw;
    }
}
.place-order{
    height: auto;
    width: 100%;
    margin-bottom: 5px;

}
.main-content-3{
    width: 100%;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
    margin-bottom: 30px;

    
}
.main-content-3-content{
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 88%;
     

    div{
        width: 50%;
        border-radius: 7px;
        background:#fff;
        padding: 5px;
        display: flex;
    flex-direction: row;
       
    }
}
.grid-container{
    display: flex;
    grid-template-columns: auto, auto, auto, auto, auto;
    grid-template-rows: 1fr repeat(4);

    div{
        width: 200px;
        height: 100px;
    }
}

.cancel-order{
    font-size: 16px;
    h5{
        font-size: 18px;
    }
    li{
        margin: 5px;
    }
    color: #333;
}
table{
    border: 1px solid black;
    background-color: $myorange_dark;
    border-collapse: collapse;
    color: rgb(221, 201, 201);
    width: 100%;
    height: 300px;
    th{
        padding: 10px;
        text-align: center;
    }

    td{
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }
}