@import 'variables';

.navBar1_navigator{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: inherit;
    
}
.Bar1_navigator1{
    display: flex;
    flex-direction: row;
    width: 32%;
    height: inherit;
} 
.Bar1_navigator-container{
    padding-left: 100px; 
    font-size: small;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    width: 100vw;
    box-sizing: border-box;
    height: 35px;
    

}
@media screen and (max-width:900px) {
    .Bar1_navigator-container{
    display: none;
    }
}
.navlink{
    text-decoration: none;
    font-weight: 700;
}
.navStack{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
        font-size:12px;
}
#navStack{
    padding-bottom: 6px;
    font-size:12px;
    span{
        padding-bottom: 14px;
    }
}
