 @import "variables";

 .m_container{
    width: 97.7%;
    height: 400px;
    background-color: $background;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
 }
 .m_content{
    background-color: $background;
    width: 177px;
    height: 190px;
    margin: 5px 6.5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    

    p{
      text-align: center;
      color: #000;
      font-weight: 400;
      margin-top: -5px;
      font-size: 14px;
   }

 } 
.item1{
   height: 90%;
   width: 100%;
   padding: auto;
   

   img{
      height: 135px;
      width: 160px;
      object-fit: fill;
   }
   
}
.item2{
   height: 20px;
   width: 100%;
}
@media screen and (max-width:950px) {
   .m_container{
      width: 100%;
     min-height: 600px;
   }
   .m_content{
      background-color: $background;
      width: 165px;
      height: 185px;
      margin: 5px 6.5px;
      display: flex;
      flex-direction: column;
      padding: 10px;
   
      p{
        text-align: center;
        color: #000;
        font-weight: 400;
        margin-top: -5px;
        font-size: 2vw;
     }
  
   } 
  .item1{
     height: 90%;
     width: 100%;
     padding: auto;
     
  
     img{
        height: 130px;
        width: 160px;
        object-fit: fill;
     }
     
  }
  .item2{
     height: 20px;
     width: 100%;
  }
}
@media screen and (max-width:600px) {
   .m_container{
      width: 100%;
      min-height: 250px;
      background-color: $background;
      flex-wrap: wrap;
   }
   .m_content{
      width: 80px;
      height: 70px;
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 5px;
      p{
        text-align: center;
        color: #000;
        font-weight: 500;
        margin-top: -5px;
        font-size: 10px;
     }
  
   } 
  .item1{
     height: 90%;
     width: 100%;
     padding: auto;
     
  
     img{
        height: 80px;
        width: 70px;
        object-fit: fill;
     }
     
  }
  .item2{
     height: 10px;
     width: 100%;
  }
   
}

